@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
    background-color: white;
    
  }
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: hsl(278, 87%, 33%) 
}
/*NAV part*/
.bg2 {
  position: absolute;
  top: 10px;
  margin-left: 30px;
  padding: 0px 20px;
  border-radius: 30px;
  width: 180px;
  height: 70px;
  object-fit: cover;
}

.navbar .active{
  color: #0000cc;
}

.nav-bar
{
 text-align: right;
 margin-top: 30px;
 margin-bottom: 30px;
}
.nav-bar ul 
{
  display: inline-flex;
  list-style: none;
  color: #000000;
}
.nav-bar ul li
{
  width: 250px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.nav-bar ul li a 
{
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.nav-bar ul li:hover
{
  background: #76d98f;
  border-radius: 3px;
}
/*Our Story Part*/
.bgimg {
  background-image: url(../images/meeting6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 420px;
  background-position: center;
}

.words{
  margin-top: 80px;
  margin-bottom: 60px;
}

.our {
  margin-left: 70px;
  padding-top: 150px;
  font-size: 80px;
  color: rgb(255, 255, 255);
  font-family: 'Nerko One', cursive;
}
h1 {
  color: #000;
  padding-left: 50px;
  margin-top: 50px;
  font-family: 'Solway', serif;
  text-decoration: underline;
}
p{
  color: #1a1a1a;
  padding-left: 50px;
  font-size: 20px;
  font-family: 'Solway', serif;
}
.p2 {
  color:#1a1a1a;
  padding-left: 75px;
  font-size: 20px;
  font-style: italic;
  font-family: 'Solway', serif;
  margin-top: 15px;
}
h2{
  color: #000;
  padding-left: 50px;
  font-size: 30px;
  font-family: 'Solway', serif;
  text-decoration: underline;
  margin-top: 50px;
}
h3 {
  color: #333333;
  padding-left: 50px;
  font-size: 25px;
  font-family: 'Solway', serif;
}
.imagery {
  background-image: url(../images/building.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  background-position: center;
}
.p3 {
  color: #ffff00;
  padding-top: 60px;
  font-size: 35px;
  font-family: 'Solway', serif;
  text-align: center;
  font-weight: bolder;
}
/*Menu Part*/
.menu-bar {
  background-color: #040720;
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: rgb(255, 255, 255);
}
.menu-bar ul li 
{
  width: 180px;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.menu-bar ul li a 
{
  text-decoration: none;
  color: #ffffff;
  
}
.menu-bar ul li:hover 
{
  background: #1188e9;
  border-radius: 3px;
}
.menu-bar .fa 
{
  margin-right: 8px;
}

/*Footer part*/
.cantin
{
  max-width: 1170px;
  
  margin: auto;
}
.row
{
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer 
{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background-color: #040720;
  padding: 70px 0;
}
.footer-col
{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 
{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) 
{
  margin-bottom: 10px;
}
.footer-col ul li a
{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover
{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color:rgba(255, 255, 255, 0.2);
  margin: 0 15px 15px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover
{
  color: #24262b;
  background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col {
    width: 25%;
    margin-bottom: 30px;
  }
}
