* {
	padding: 0;
	margin: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar{
    width: 0.25rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: hsl(278, 87%, 33%) 
}

.naver{
  background-image: url(../images/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0.5%;
}

.nav-bar
{
 text-align: right;
 margin-top: 40px;
 margin-bottom: 30px;
}
.nav-bar ul 
{
  display: inline-flex;
  list-style: none;
  color: #000000;
}
.nav-bar ul li
{
  width: 250px;
  margin-top: -25px;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.nav-bar ul li a 
{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.nav-bar ul li:hover
{
  background: #76d98f;
  border-radius: 3px;
}

.menu-bar {
  background-color: #040720;
  text-align: center;
}
.menu-bar ul {
  display: inline-flex;
  list-style: none;
  color: rgb(255, 255, 255);
}
.menu-bar ul li 
{
  width: 180px;
  margin: 15px;
  padding: 15px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.menu-bar ul li a 
{
  text-decoration: none;
  color: #ffffff;
  
}
.menu-bar ul li:hover 
{
  background: #1188e9;
  border-radius: 3px;
}
.menu-bar .fa 
{
  margin-right: 8px;
}
.bg2 {
  position: absolute;
  top: 13px;
  margin-left: 30px;
  padding: 0px 20px;
  border-radius: 30px;
  width: 180px;
  height: 80px;
  object-fit: cover;
}

/*Form Part*/
.container{
  display: flex;
  height: 0.5vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 375px;
}

.contactForm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 500px;
  width: 300px;
  border-radius: 51px;
  background-color: linear-gradient(144deg, #eae1e1, #c5bdbd);
  box-shadow: 23px 23px 40px #a09999, -23px -23px 40px #ffffff;
}

.contentForm{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
  gap: 30px;
  border: 2px solid black;
  border-radius: 51px;
}

.inputBox{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactForm h1{
  position: absolute;
  top: 70px;
  font-size: 50px;
  letter-spacing: 3px;
  transition: 0.7s;
  font-family: Arial, Helvetica, sans-serif;
}

.contactForm h1:hover{
  font-size: 60px;
  cursor: pointer;
}

.inputBox label{
  margin-bottom: 15px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

.inputBox input{
  padding: 5px 30px;
  border: 2px solid #000;
  outline: none;
  transition: 0.5s;
  border-radius: 25px;
  background: transparent;
}

.inputBox input:focus,
.inputBox input:valid{
  color: #fff;
  box-shadow: inset 300px 0 #000;
}

.contactForm button{
  position: absolute;
  bottom: 100px;
  padding: 8px 46px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: transparent;
  transition: 0.5s;
  font-size: 15px;
}

.contactForm button:hover{
  transform: scale(110%);
  background-color: #000;
  color: #fff;
  cursor: pointer;
  letter-spacing: 2px;
}

/*Footer part*/
.cantin
{
  max-width: 1170px;
  
  margin: auto;
}
.row
{
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer 
{
	margin-top: 420px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  background-color: #040720;
  padding: 70px 0;
}
.footer-col
{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 
{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) 
{
  margin-bottom: 10px;
}
.footer-col ul li a
{
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover
{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 15px 15px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover
{
  color: #24262b;
  background-color: #ffffff;
}
@media(max-width: 767px){
  .footer-col {
    width: 25%;
    margin-bottom: 30px;
  }
}
